<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <div class="container-fluid"> -->
        <div class="d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Пожалеть и взять в джуны
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://t.me/write_me_on_this_account_please">Telegram 🙂</a></li>
                    <li><a class="dropdown-item" href="https://twitter.com/_vadim_fj">Twitter 🙂</a></li>
                    <li><a class="dropdown-item" href="https://www.linkedin.com/in/vadim-kucherenko">LinkdIn 🙂</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="https://github.com/fj-fj-fj">Github 🙂</a></li>
                </ul>
                </li>
            </ul>
        </div>
    <!-- </div> -->
</nav>